.slide-heading {
    display: flex;
    justify-content: center;
    font-size: 15px;
    color: #0b3954;
    margin-bottom: -85px;
  }
  .carousel {
    margin: 100px auto;
    width: 100%;
    display: flex;
    overflow: hidden;
    margin-bottom: 30px;
  }
  .carousel::-webkit-scrollbar {
    display: none;
  }
  .group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    animation: spin 45s infinite linear;
    padding-right: 20px;
  }
  .card {
    flex: 0 0 40px;
    height: 100%;
    padding: 15px;
    text-align: center;
    align-content: center;
  }
  .card img {
    width: 130px;
  }
  @keyframes spin {
    from {translate: 0;}
    to {translate: -100%}
  }