.four {
  background-color: ghostwhite;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  position: relative;
}
.reason {
  text-align: center;
   padding-top: 10px;
}
.reason h2 {
  font-size: 40px;
  color: #0b3954;
  margin-bottom: 4px;

}
.reason p {
  font-size: 14px;
  color: rgb(92, 103, 109);
  line-height: 20px;
}
.reason h4 {
  color: #0b3954;
}
.reasons {
 display: flex;
 justify-content: center;
}
iframe {
  width: 550px; 
  height: 300px; 
  border-radius: 10px;
}
.id {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 40px;
}
.idd {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.para, .par {
  font-size: 14px;
  color: rgb(92, 103, 109);
  line-height: 20px;
  margin-bottom: 30px;
}
.par {
  margin-bottom: 40px;
}
.clip {
  width: 100%;
  height: 100%;
}
.program {
  width: 440px;
  margin: 50px auto;
  margin-top: 70px;
  position: relative;
}
.background {
  background-color: orange;
  margin-top: 60px;
  width: 550px;
  margin-left: -60px;
  height: 925px;
  border-radius: 35px;
  position: relative;
}
.imag {
  width: 100%;
  height: 275px;
  border-radius: 13px;
  position: absolute;
  top: -70px;
  
}
.tittlee {
  position: absolute;
  top: 250px;
  color: white;
  font-size: 13px;
}
.headd {
  font-size: 39px;
  margin-bottom: 10px;
}
.tik {
  color: #0b3954;
  line-height: 18px;
  margin-bottom: 30px;
}
.btn {
  background-color: #0b3954;
  border: none;
  color: white;
  padding: 15px 35px;
  border-radius: 25px;
  font-size: 14px;
  font-weight: 550;
}
.b {
  display: flex;
  justify-content: top;
  align-items: top;
  transition: trasform 6s ease;
}
.b:hover {
  transform: scale(1.03);
}
.num {
  font-size: xx-large;
  margin-right: 30px;
  margin-top: 12px;
}
.pp {
  font-size: 14px;
  line-height: 20px; 
}
.ppp {
  font-size: 14px;
  color: #ffffff80;
}